h1{
    padding: 20px;
    background-color: azure;
}
.intro{
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: 10px; 
    margin-right: 10px; 
    font-size: 16px;
    line-height: 1.5;

}
.skills {
    margin-top: 20px; /* Adjust the top margin value as needed */
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }

  .skills li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px; /* Adjust the bottom margin value as needed */
  }

.contact-sect{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
  }